@{
    ViewData["Title"] = "Home Page";
}
<input id="Courses" type="hidden" value="10" />
<input id="ActiveCourses" type="hidden" value="4" />
<input id="ActiveUsers" type="hidden" value="5" />
<input id="Enrollments" type="hidden" value="100" />

<style>
    .tile {
        color: white;
        background-color: #397db5;
    }

    .tileActive {
        color: white;
        background-color: #384e65;
    }

    .tileEnrol {
        color: white;
        background-color: #52cda0;
    }
</style>

<div class="container">
    <h1>Dashboard</h1>
    <hr />
    <br />

    <div class="row">
        <div class="col-sm-3 tile">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><span class="glyphicon glyphicon-align-justify"></span>  Courses</h2>                    
                    <h1><span>50</span></h1>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3 tileActive">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><span class="glyphicon glyphicon-list-alt"></span>  Active Courses</h2>
                    <h1><span>13</span></h1>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3 tileEnrol">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><span class="glyphicon glyphicon-user"></span> Enrollments</h2>
                    <h1><span>100</span></h1>
                </div>
            </div>
        </div>
    </div>
</div>